header {
  background: #5851ff;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  padding: 15px;

  button {
    height: 60px;
    color: white;
    background: #3bb449;
    border-radius: 5px;
    border: none;
    box-shadow: none;
    padding: 10px 20px;
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 20px;

    &:focus {
      outline: none;
    }

    &:hover {
      transition: all 0.3s;
      background: #35a342;
    }

    &:disabled {
      background: #ccc;
      border: none;
      color: black;
      cursor: not-allowed;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    margin-top: 20px;

    p {
      margin-bottom: 0;
    }

    .select {
      margin-right: 10px;
    }

    .input {
      margin-right: 10px;

      &:last-of-type {
        margin-right: 0;
      }
    }
  }
}

main {
  padding: 20px;

  .header {
    border: 2px solid black;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__name {
      text-transform: uppercase;
      font-size: 30px;
      font-weight: bold;
    }

    &__phone {
      margin-right: 10px;
    }

    &__doctor {
      font-weight: 700;
    }
  }

  .block-1 {
    display: flex;
    margin-top: 30px;

    .left {
      display: block;
      width: 50%;

      &__subject {
        text-transform: uppercase;
      }

      &__exam {
        margin-top: 100px;

        .line-2 {
          margin-left: 20px;
          font-size: 14px;
        }
      }

      &__folder {
        margin-top: 20px;
      }

      &__description {
        div {
          font-size: 12px;
          margin-left: 20px;

          &:last-of-type {
            font-style: italic;
          }
        }
      }
    }

    .right {
      display: block;
      width: 50%;

      &-address {
        &__name {
          font-weight: 700;
        }

        &__pub {
          margin-top: 100px;

          .line-1 {
            text-decoration: underline;
            font-size: 14px;
          }

          .line-2 {
            font-style: italic;
            font-weight: 700;
            font-size: 12px;
          }
        }
      }
    }
  }

  .block-2 {
    margin-top: 50px;

    &__title {
      border: 2px solid black;
      padding: 0 10px;
      font-weight: 700;

      &-2 {
        font-weight: 700;
        font-size: 16px;
        margin-top: 20px;
      }

      &-4 {
        font-style: italic;
      }
    }
  }

  .block-3 {
    margin-top: 50px;

    span {
      display: inline-block;
      width: 50%;
    }
  }

  .block-4 {
    margin-top: 30px;
    line-height: 1;

    span {
      display: block;
      margin-top: 20px;
      font-size: 12px;
      line-height: 14px;
      text-align: justify;
    }
  }

  .footer {
    text-align: right;
    margin-top: 200px;
    position: relative;

    img {
      position: absolute;
      bottom: 30px;
      right: 20px;
      width: 130px;
      transform: rotate(-15deg);
    }
  }
}
